* {
    padding: 0;
    margin: 0;
}
body {
    background-color: azure;
}

.heading {
    height: 150px;
    outline: 2px solid black;


    #addButton {
        min-height: 100px;
        min-width: 100px;
}
}


.bookContainer {
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    #myBooks {
        margin-bottom: 20px;
    }

    .modalContent {
        height: 20%;
        width: 20%;
        text-align: center;
        padding: 20px;

        input {
            height: 30px;
            margin-bottom: 10px;
            width: 90%;
        }
    }
}


