* {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    background-color: aliceblue;
}

.heading {
    height: 8vh;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    font-size: 2em;
    color: honeydew;
    background-color: maroon;

    button {
        height: 4em;
        width: 8em;
        border-radius: 30px;
        margin-left: auto;
        background-color: honeydew;
        color: maroon;
        font-weight: bold;
        border: 2px solid black;
    }
    button:hover {
        box-shadow: 2px 2px 6px black;
    }
    button:active {
        height: 3.8em;
        width: 7.6em;
    }
}

.modalContent { 
    padding: 20px;
    justify-self: center;
    justify-content: center;
    height: 40vh;
    width: 50vw;
    top: 10vh;
    border-radius: 20px;
    border: 2px solid maroon;
    background-color: beige;

    .askRead {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0px 20px 0px;

        #readPrompt {
            font-size: 1.2em;
        }

        #readStatus {
            width: 20%;
        }
    }
    #formContent {
        justify-self: center;
        width: 80%;
    }

    input[type=text], input[type=number] {
        padding-left: 4px;
        height: 2em;
        width: 99%;
        margin: 10px 0px 10px 0px;
        font-size: 1em;
        outline: none;
    }

    input[type=checkbox] {
        height: 2em;
        width: 2em;
    }

    input[type=submit], button {
        height: 2.2em;
        width: 100%;
        margin: 10px 0px 10px 0px;
        font-size: 1em;
    }

    #closeButton:active, #submitButton:active {
        background-color: gainsboro;
        opacity: 0.8;
    }
}

.bookContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .bookList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #myBooks {
        margin-bottom: 20px;
    }

    .bookDisplay {
        height: 40vh;
        width: 40vh;
        text-align: center;
        text-wrap: wrap;
        display: inline-flex;
        padding: 10px;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        border-radius: 2px;
        box-shadow: 6px 6px 10px gray;
        position: relative;


        #displayTitle {
            display: block;
            font-size: 1.4em;
            margin: 10px auto 10px auto;
            text-shadow: 1px black;
            overflow-wrap: anywhere;
        }

        #displayAuthor {
            font-size: 1em;
            margin-bottom: 10px;
        }

        #displayPages {
            font-size: 0.8em;
            margin-bottom: 10px;
        }

        button {
            margin-top: 20px;
            height: 3em;
            width: 5em;
            border-radius: 20px;
            color: honeydew;
            background-color: maroon;
        }
        #delButton:hover {
            box-shadow: 4px 4px 6px maroon;
        }
    }
}


